@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.topnav {
  background-color: #fff;
  padding: 20px;
}

#logo {
  text-decoration: none;
  color: #4299e1;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 800;
  margin-left: 130px;
  font-family: "Raleway", sans-serif;
}

#myLinks {
  display: inline-block;
  float: right;
  margin-right: 15px;
  padding-right: 200px;
}

#myLinks a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  color: #718096;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

#myLinks a:hover {
  color: #4299e1;
}

@media (max-width: 768px) {
  #myLinks {
    display: none;
  }
}

/* Content Styling Starts */

section.contentSection {
  background-color: #4299e1;
  padding-top: 10px;
  padding-bottom: 15px;
}

div.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
  margin-top: 10px;
}

div.description {
  padding-left: 145px;
}

#heading {
  color: #fff;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
}

.subheading {
  color: #fff;
  font-size: 1.4em;
  font-family: "Raleway", sans-serif;
}

span.text {
  font-style: italic;
}

.descriptionParagraph {
  color: #edf2f7;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

div.image img {
  width: 300px;
  height: 320px;
  padding-left: 145px;
  margin-top: 20px;
}

div.buttons {
  padding-top: 15px;
}

a.button1 {
  background-color: #fff;
  color: #718096;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline-color: #edf2f7;
  border: none;
  text-decoration: none;
  margin-right: 15px;
  font-family: "Open Sans", sans-serif;
}

a.button1:hover {
  background-color: #edf2f7;
}

a.button2 {
  background-color: #4299e1;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  outline-color: transparent;
  border: 1px solid #fff;
  font-family: "Open Sans", sans-serif;
  margin-right: 15px;
  text-decoration: none;
}

a.button2:hover {
  background-color: #fff;
  color: #4299e1;
}

@media (max-width: 768px) {
  section.contentSection {
    padding-top: 0px;
  }

  div.content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  div.image img {
    display: none;
  }

  div.description {
    padding: 1.3rem;
  }

  #heading {
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
  }

  .subheading {
    font-size: 1.5em;
  }

  .descriptionParagraph {
    font-size: 0.8em;
  }
}

/* Overview Styling Starts */

section.overview {
  background-color: #edf2f7;
  padding-top: 21px;
  padding-bottom: 15px;
}

div.overviewHeading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

div.overviewHeading h1 {
  color: #4299e1;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  flex: 1;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.overviewShape {
  display: flex;
  justify-content: center;
}

.circle {
  height: 7px;
  width: 7px;
  background-color: #4299e1;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

div.overviewParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

div.overviewParagraph p {
  color: #718096;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

div.overviewCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding-left: 140px;
  padding-right: 150px;
  margin-top: 15px;
  padding-bottom: 15px;
}

div.card1 {
  background-color: #fff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  width: 180px;
  height: 200px;
  border-radius: 3px;
  padding: 15px 20px;
}

div.card1Heading h1 {
  text-align: center;
  color: #718096;
  font-size: 1.2em;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
}

div.card1Heading p {
  color: #718096;
  font-size: 0.9em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  div.overviewParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  div.overviewParagraph p {
    font-size: 0.8em;
    text-align: center;
  }

  div.overviewCardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.overviewCards {
    display: flex;
    flex-direction: column;
  }

  div.card1 {
    width: 280px;
    height: 200px;
    padding: 15px 20px;
    margin-bottom: 20px;
  }
}

/* Work Styling Starts */

section.works {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 15px;
}

div.workParagraph {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

div.workParagraph p {
  color: #718096;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

div.workContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
  margin-top: 10px;
  padding-bottom: 15px;
}

div.workInfo {
  padding-left: 145px;
}

h1.workHeading {
  color: #4299e1;
  font-size: 1.4em;
  font-family: "Raleway", sans-serif;
}

div.workParagraph p {
  color: #718096;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}

p.workParagraph1 {
  font-size: 1.2em;
  color: #718096;
  font-family: "Open Sans", sans-serif;
}

div.workImage img {
  width: 300px;
  height: 330px;
  padding-left: 145px;
  margin-top: 70px;
}

@media (max-width: 768px) {
  div.workContent {
    display: flex;
    flex-direction: column;
  }

  div.workInfo {
    padding-left: 20px;
  }

  div.workParagraph p {
    text-align: center;
    font-size: 0.8em;
  }

  p.workParagraph1 {
    font-size: 0.8em;
    color: #718096;
    font-family: "Open Sans", sans-serif;
  }

  div.workImage {
    display: none;
  }
}

/* Features Styling Starts */

section.features {
  background-color: #4299e1;
  padding-top: 10px;
  padding-bottom: 15px;
}

div.featuresHeading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

div.featuresHeading h1 {
  color: #fff;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  flex: 1;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.featuresShape {
  display: flex;
  justify-content: center;
}

.circle0 {
  height: 7px;
  width: 7px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

div.featuresParagraph {
  display: flex;
  justify-content: center;
}

div.featuresParagraph p {
  color: #fff;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}

div.featuresGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding-left: 140px;
  padding-right: 150px;
  margin-top: 15px;
  padding-bottom: 15px;
}

div.featuresContent1 {
  margin-top: 10px;
}

div.featuresContent1 h1 {
  color: #fff;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

div.featuresContent1 p {
  color: #fff;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}

div.featuresContentimg img {
  margin-top: 40px;
  margin-left: 20px;
  width: 300px;
  height: 320px;
}

@media (max-width: 768px) {
  div.featuresGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.featuresContent1 p {
    font-size: 0.8em;
  }

  div.featuresParagraph p {
    font-size: 0.8em;
    text-align: center;
  }

  div.featuresContentimg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.featuresContentimg img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
}

/* Video Styling Starts */

section#video {
  display: flex;
  justify-content: center;
  background-color: #edf2f7;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Team Styling Starts */

section.topappTeam {
  padding-top: 10px;
  padding-bottom: 15px;
}

div.teamHeading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

div.teamHeading h1 {
  color: #4299e1;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  flex: 1;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.teamShape {
  display: flex;
  justify-content: center;
}

.circle1 {
  height: 7px;
  width: 7px;
  background-color: #4299e1;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

div.teamParagraph {
  display: flex;
  justify-content: center;
}

div.teamParagraph p {
  color: #718096;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
}

div.teamContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
  grid-gap: 1rem;
  padding-left: 140px;
  padding-right: 150px;
  padding-bottom: 20px;
}

div.teamCard {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

div.teamImage {
  display: flex;
  justify-content: center;
  min-width: 100%;
  background-color: #e2e8f0;
  border-radius: 5px;
}

div.teamImage img {
  width: 280;
  height: 300px;
}

div.teamDetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.teamDetails h4 {
  color: #4299e1;
  font-size: 0.9em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding-top: 20px;
}

div.teamDetails p {
  color: #4299e1;
  font-size: 0.7em;
  font-family: "Open Sans", sans-serif;
}

div.teamSocial {
  background-color: #4299e1;
  padding: 15px 20px;
}

div.teamSocial a {
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  div.teamContent {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.teamParagraph p {
    font-size: 0.8em;
    text-align: center;
  }

  div.teamCard {
    margin-bottom: 20px;
  }
}

/* TopAppPrice Styling Starts */

section.topAppPrice {
  background-color: #edf2f7;
}

div.pricingHeading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

div.pricingHeading h1 {
  color: #4299e1;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  flex: 1;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.pricingParagraph {
  display: flex;
  justify-content: center;
}

div.pricingParagraph p {
  color: #718096;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}

div.pricingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 15px;
  grid-gap: 1rem;
  padding-left: 140px;
  padding-right: 150px;
  padding-bottom: 25px;
}

div.pricingCard {
  background-color: #e2e8f0;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

div.pricingButton1 {
  display: flex;
  justify-content: center;
}

button.button1 {
  background-color: #fff;
  color: #4299e1;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: #fff;
}

p.paragraph1 {
  border-bottom: 3px solid #eee;
  font-weight: 800;
  font-size: 1em;
  text-align: center;
  padding-bottom: 8px;
  font-family: "Open Sans", sans-serif;
}

span.par {
  font-weight: normal;
  font-size: 0.9em;
  color: black;
  font-family: "Open Sans", sans-serif;
}

div.pricingButton2 {
  display: flex;
  justify-content: center;
}

button.button2 {
  background-color: #4299e1;
  color: #fff;
  padding: 5px 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: #4299e1;
}

p.paragraph {
  font-weight: 800;
  font-size: 1em;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

div.pricingCard1 {
  background-color: #fff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

div.pricingButton3 {
  display: flex;
  justify-content: center;
}

button.button3 {
  background-color: #4299e1;
  color: #fff;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: #4299e1;
}

p.paragraph2 {
  border-bottom: 3px solid #e2e8f0;
  font-weight: 800;
  font-size: 1em;
  color: #4299e1;
  text-align: center;
  padding-bottom: 8px;
  font-family: "Open Sans", sans-serif;
}

span.par1 {
  font-weight: normal;
  font-size: 0.9em;
  color: #4299e1;
  font-family: "Open Sans", sans-serif;
}

div.pricingButton2 {
  display: flex;
  justify-content: center;
}

button.button2 {
  background-color: #4299e1;
  color: #fff;
  padding: 5px 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: #4299e1;
}

p.paragraph3 {
  font-weight: 800;
  font-size: 1em;
  color: #4299e1;
  text-align: center;
  padding-bottom: 7px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  div.pricingContainer {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.pricingParagraph p {
    font-size: 0.8em;
    text-align: center;
  }

  div.pricingCard {
    margin-bottom: 20px;
  }

  div.pricingCard1 {
    margin-bottom: 20px;
  }

  p.paragraph1 {
    font-size: 0.9em;
  }

  span.par {
    font-size: 0.8em;
  }

  p.paragraph {
    font-size: 0.9em;
  }

  p.paragraph2 {
    font-size: 0.9em;
  }

  span.par1 {
    font-size: 0.8em;
  }

  p.paragraph3 {
    font-size: 0.9em;
  }
}

/* AppDownloaded Styling Starts */

section.appDownload {
  background-color: #4299e1;
  padding-top: 10px;
  padding-bottom: 20px;
}

div.appHeading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

div.appHeading h1 {
  color: #fff;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  flex: 1;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.appShape {
  display: flex;
  justify-content: center;
}

div.appParagraph {
  display: flex;
  justify-content: center;
}

div.appParagraph p {
  color: #fff;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}

div.appImage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

div.appImage img {
  margin-right: 15px;
  border-radius: 5px;
}

div.appForm {
  display: flex;
  justify-content: center;
  background-color: #2c5282;
  opacity: 75;
  margin-left: 140px;
  margin-right: 150px;
  margin-top: 40px;
  border-radius: 5px;
  width: 80%;
  height: 60px;
}

h4.appHeading {
  position: relative;
  bottom: 33px;
  left: -55px;
  color: #e2e8f0;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

input {
  background-color: #e2e8f0;
  color: #718096;
  height: 6px;
  border-radius: 5px;
  border: 2px solid #2c5282;
  outline: none;
  width: 100%;
  position: relative;
  right: -70px;
}

input[type="text"] {
  padding: 20px 30px;
  margin-top: 10px;
  font-size: 0.9em;
  padding-top: 17px;
  padding-bottom: 17px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

div.appButton {
  position: relative;
  left: 65px;
  top: 11px;
}

div.appButton button {
  background-color: #4299e1;
  color: #e2e8f0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #4299e1;
  outline: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Contact styling Starts */

section.contact {
  background-color: #edf2f7;
  padding-bottom: 10px;
}

div.contactHeading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

div.contactHeading h1 {
  color: #4299e1;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  flex: 1;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

div.contactShape {
  display: flex;
  justify-content: center;
}

.circle1 {
  height: 7px;
  width: 7px;
  background-color: #4299e1;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

div.contactParagraph {
  display: flex;
  justify-content: center;
}

div.contactParagraph p {
  color: #718096;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
}

/* Footer Styling Starts */

section.topappFooter {
  background-color: #000;
  padding-bottom: 10px;
}

div.footerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

div.grid1 {
  padding-left: 140px;
}

div.grid1 h1 {
  color: #4299e1;
  font-size: 1.5em;
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
}

div.grid1 p {
  color: #edf2f7;
  font-size: 1em;
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
}

a.icon1 i {
  background-color: #3182ce;
  padding: 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}

a.icon2 i {
  background-color: #90cdf4;
  padding: 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}

a.icon3 i {
  background-color: #90cdf4;
  padding: 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}

a.icon4 i {
  background-color: #c53030;
  padding: 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}

a.icon5 i {
  background-color: #4299e1;
  padding: 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}

a.icon6 i {
  background-color: #f56565;
  padding: 10px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
}

div.footerImage {
  margin-top: 30px;
}

div.grid2 {
  padding-right: 140px;
}

h3#grid {
  color: #edf2f7;
  font-size: 1.5em;
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
}

div.subGrid h4 {
  color: #4299e1;
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

div.subGrid p {
  color: #edf2f7;
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

div.lastFooter {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  border-top: 2px solid #edf2f7;
  margin-left: 140px;
  margin-right: 150px;
}

div.lastFooter p {
  color: #e2e8f0;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  margin-top: 18px;
}

@media (max-width: 768px) {
  div.footerGrid {
    display: flex;
    flex-direction: column;
  }

  div.grid1 {
    padding-left: 20px;
  }

  div.footerImage {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.grid2 {
    padding-right: 0px;
    display: flex;
    flex-direction: column;
  }

  h3#grid {
    text-align: center;
    font-size: 1.3em;
    color: #edf2f7;
    font-family: "Raleway", sans-serif;
  }

  div.subGrid {
    margin-left: 40px;
  }

  div.subGrid h4 {
    color: #4299e1;
    font-size: 0.9em;
  }

  div.subGrid p {
    font-size: 0.8em;
  }

  div.lastFooter {
    margin-left: 20px;
    margin-right: 20px;
  }

  div.lastFooter p {
    font-size: 0.8em;
  }
}
